*.pyc
*.pyo
__pycache__
.env
venv
.vscode
.idea
.history
scontrol/files/
node_modules/
local_settings.py
.swp
app/data
.~lock*#
scontrol_*.sql.gz
jira_titles.txt
app/.coverage
app/xunit.xml
web/yarn.lock
web_old/yarn.lock
.DS_Store
LOCAL_NOTICES.md
.hello1